#home {
  --dark-gray: #4b4b4b;
  --gray: #444444;
  --light-gray: #e5e5e5;
  --light-gray-2: #e8e8e8;
  --dark-blue: #0547a0;
  --bright-blue: #0d6ef0;
  --red-accent: #ef0e11;
  --dark-red-accent: #c6232d;
  --background-main: var(--light-gray);
  --foreground-main: var(--gray);
  --nav-foreground: var(--dark-gray);
}
