#home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 23%;
  height: auto;
  display: block;
  margin: auto;
}

.main-header {
  margin-top: 2.5rem;
  position: relative;
}

.main-nav {
  width: 100%;
  font-family: "Bungee", cursive;
  letter-spacing: 0.05rem;
  color: var(--dark-gray);
  position: absolute;
  top: 1rem;
  left: 0;
  max-width: 1520px;
}

.main-nav .navbar {
  display: grid;
  grid-template-columns: repeat(3, auto) minmax(35%, auto) repeat(2, auto);
  grid-template-rows: 1fr;
}

.main-nav .item-3,
.main-nav .item-4 {
  text-align: right;
}

.main-nav .item-3 {
  grid-column: 5;
}

.main-nav .item-4 {
  grid-column: 6;
}
