#home {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.accent-font {
  font-family: "Bungee", cursive;
  letter-spacing: 0.05rem;
}

.logo {
  width: 23%;
  height: auto;
  display: block;
  margin: auto;
}

.main-header {
  margin-top: 2.5rem;
  position: relative;
  min-height: 5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: var(--padding);
}

@media (max-width: 1024px) {
  .logo {
    width: 80%;
    max-width: 20rem;
    position: absolute;
    right: var(--padding);
  }
}
