.main-nav {
  width: 100%;
  position: absolute;
  top: 1rem;
  left: 0;
  max-width: 1520px;
  font-family: "Bungee", cursive;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--dark-gray);
}

.navbar {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 7rem) minmax(35%, auto) repeat(2, 7rem);
  grid-template-rows: 1fr;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  cursor: pointer;
}

.nav-item.active .item-content {
  position: relative;
}

.nav-item.active .item-content::after {
  content: "";
  width: 99%;
  height: 0.3rem;
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  background: var(--bright-blue);
  border-radius: 1rem;
}

.item-3,
.item-4 {
  text-align: right;
}

.item-3 {
  grid-column: 5;
}

.item-4 {
  grid-column: 6;
}

@media (max-width: 1024px) {
  .main-nav {
    --transition-time: 0.3s;
    top: 0;
    width: 0;
    height: 0;
  }

  .navbar {
    width: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transform: scaleX(0);
    transition: var(--transition-time) all;
    transform-origin: 0% 0%;
    z-index: 1;
    position: relative;
    top: var(--padding-top);
  }

  .navbar.show-menu {
    transform: scaleX(1);
  }

  .nav-item {
    padding: 1rem 0;
    background: white;
    border: 1px solid var(--light-gray);
  }

  .item-3,
  .item-4 {
    text-align: inherit;
  }

  .hamburger-menu-container {
    --height: 0.2rem;
    --bar-spacing: calc(var(--height) * -2.5);
    height: calc(var(--height) * 6);
    width: 1.9rem;
    position: absolute;
    top: 2.5rem;
    left: var(--padding);
    cursor: pointer;
    z-index: 2;
  }

  .hamburger-menu {
    width: 100%;
    position: absolute;
    height: var(--height);
    background: var(--dark-gray);
    border-radius: 1rem;
    transition: var(--transition-time) all;
    transform-origin: 0% 0%;
  }

  .hamburger-menu::before,
  .hamburger-menu::after {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    background: inherit;
    transition: inherit;
    transform-origin: inherit;
    border-radius: inherit;
  }

  .hamburger-menu::before {
    bottom: var(--bar-spacing);
  }

  .hamburger-menu::after {
    bottom: calc(var(--bar-spacing) * 2);
  }
  .hamburger-menu.close-btn {
    transform: rotate(42deg);
  }
  .hamburger-menu.close-btn::after {
    transform-origin: 0% 0%;
    transform: rotate(-85deg) translate(5%, 350%);
  }
  .hamburger-menu.close-btn::before {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: calc(100vw - var(--padding) * 2);
  }
}
