.product-header {
  color: var(--dark-gray);
  font-size: 75%;
  letter-spacing: 0.05rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secure {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1rem;
}

.shipping-time {
  text-align: right;
}

.product-image {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.icons-cont {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 100%;
  width: auto;
}

@media (max-width: 1024px) {
  .icons-cont {
    flex-wrap: wrap;
    justify-content: start;
  }
}
